<div id="side-stories" class="side-stories">
        <a>
          <img src="side-story-title0.png" alt="Sidestory Title" class="side-stories-image-title">
        </a>
        <a href="mousou_chapter0.html">
          <img src="side-story-exit.png" alt="Exit Sidestory" class="side-stories-image-content">
        </a>
        <a href="mousou_side2_1.html">
          <img src="side-story-2.png" alt="Sidestory Image 02" class="side-stories-image-content">
        </a>
        <a>
          <img src="side-story-title.png" alt="Sidestory Title" class="side-stories-image-title">
        </a>
        <!--<a href="mousou_side1_1.html">
          <img src="side-story-1.png" alt="Sidestory Image 01" class="side-stories-image-content">
        </a>-->
        <a href="mousou_sideg2_1.html">
          <img src="side-story-g2.png" alt="Sidestory Image G" class="side-stories-image-content">
        </a>
        <a href="mousou_sideg_1.html">
          <img src="side-story-g.png" alt="Sidestory Image G" class="side-stories-image-content">
        </a>
        <a href="mousou_sideg3_1.html">
          <img src="side-story-g3.png" alt="Sidestory Image G" class="side-stories-image-content">
        </a>
      </div>