<img src="deriv_instruction.png" class="deriv-instruction" id="deriv_instruction">

    <button id="resourcePageSwitcher" class="custom-button custom-button-resourceSwitcher"
      style="position: fixed; bottom: 30px; left: 20px; width: 40px; height: 40px; background-color: #3792a2;">資料<br>類型</button>
    <button id="resourcePageSwitcher2" class="extra-left custom-button extra-resourceSwitcher"
      style="position: fixed; bottom: 39px; height: 20px; background-color: rgb(102, 131, 132);">對話</button>