<img id="shareButton" src="button_share.png" alt="Share" onclick="copyLink()">
    {{hintButton}}
    <div id="shareMessage" style="display:none">故事链接复制成功</div>
    <div id="hintContainer" style="display:none"></div>
    <div class="tail-linker" id="tail-links"></div>
    <!--<a href="https://srs.c8h11no2.xyz/" target="_blank">
      <img src="tail-link-01.png" alt="Tail Image 01" class="tail-linker-image">
    </a>
    <p></p>
    <a href="https://www.pixiv.net/novel/show.php?id=13894085" target="_blank">
      <img src="tail-link-02.png" alt="Tail Image 02" class="tail-linker-image">
    </a>-->
    {{tailText}}
    <p><br></p>
    <img src="world_map.png" alt="World Map Beta" class="world-map hidden" id="world-map">
  
    
    {{resourceTools}}
{{buttons}}
    <img id="hideButton" src="button_stackicon.png" alt="Hide">
    <button id="hideButtonMobile" class="custom-button hide-on-pc" style="position: fixed; bottom: 280px; right: 20px; width: 40px; height: 40px; background-color: #363636;">隠蔵<br>按鍵</button>
    <a href="#bottom" class="bottom-scroller scroller">
      <img src="button_bottom.png" id="bottomScroller" alt="Scroll to the bottom">
    </a>
    <a href="#top" class="top-scroller scroller">
      <img src="button_bottom.png" id="topScroller" alt="Scroll to the top">
    </a>
    <a href="#story" class="story-scroller scroller">
      <img src="button_storysection.png" id="storyScroller" alt="Scroll to the story section">
    </a>